nav, header ul {
    display: flex;
    justify-content: space-between;
}

nav {
    margin: 2rem 3.5rem;
}

header ul {
    align-items: center;
    gap: 2rem;

    list-style-type: none;
}

h1 {
    font-family: var(--first-font);
    font-size: 2rem;
}

header ul li a {
    transition: color 1s;

    font-size: 1.2rem;
    font-family: var(--second-font);
}

header ul li a:hover {
    color: var(--third-color);
}