#quem-sou {
    margin-bottom: 4rem;
}

.quem-sou {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'sobre foto';

    margin-top: 2rem;
    margin-left: 3rem;
}

.sobre-mim {
    text-align: end;
}

#sobre {
    grid-area: sobre;
    margin-top: 1rem;
    /* text-align: justify; */
}

#foto {
    grid-area: foto;

    display: flex;
    justify-content: center;
    align-items: center;
}

#foto img {
    width: 20rem;
    height: 20rem;

    border-radius: 50%;
}